<div id="userDetails">
	<div class="detailsContainer">
		<h1>{{ user_profile }}</h1>
		    <p><b>Biography: </b>{{ user_profile.biography }}</p>
        {% if show_edit_options %}
            <p><b>Email:</b> {{ user_profile.user.email }}</p>
		    <br>

		    <p id="passwordChangeLink"><a href="{% url 'main:passwordChange' %}"> Change password</a></p>
		    <p id="editInfo"><a href="{% url 'main:info_change' %}">Edit user profile</a></p>
        {% endif %}
    </div>
    {% if user_profile.profile_picture %}
        <div class="profileImageContainer">
            <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture">
        </div>
    {% endif %}
</div>