<!DOCTYPE html>
{% load staticfiles %}
<!-- May also need to load template_tags-->

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title>
            PhotoGraph - 
            {% block title_block %}
                PhotoGraph
            {% endblock %}
        </title>

        <!-- Mobile scaling -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- CSS is now in photoGraph/static -->
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">

        <!-- Leaflet mapping API imports -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

        <!-- Not sure if we want all javascript in one file or multiple? -->
        <script src="{% static 'navbar.js' %}"></script>

        {% block custom_head %}
        {% endblock %}
    </head>
    <body>
        <div class="nav-bar">
            <span class="title">
                <a href="{% url 'main:index' %}">
                    photoGraph
                </a>
            </span>

            <ul>
			<!--
			I don`t know what other peoples ideas are, but I was thinking the log in button be
			shifted to the far right of the nav bar, and changes to the my Account link once the user logs in
			if you hover over the my account section, a dropdown should appear with links to: create post; logout
			
			logout could then pop up a messages asking if you are sure you want to log out, etc.
			-->

                    <li><a href="{% url 'main:index' %}">Home</a></li>

                    {% if user.is_authenticated %}

                        <li><a href="{% url 'main:my_account' %}">Account</a></li>
                        <li><a href="{% url 'main:create_post' %}">Create</a></li>
                        <li><a href="{% url 'main:logout' %}">Logout</a></li>

                    {% else %}

                    <li><a href="{% url 'main:login' %}">Login</a></li>
                    <li><a href="{% url 'main:signup' %}">Sign Up</a></li>

                    {% endif %}

            </ul>
        </div>

        <div id="main-content" >
        {% block body_block %}
        {% endblock %}
        </div>

        <div class="footer">
            <ul>
                <li><a href="{% url 'main:about' %}">About</a></li>
                <li>&bull;</li>
                <li><a href="{% url 'main:contact_us' %}">Contact Us</a></li>
                <li>|</li>
                <li class="testing-label">Testing:</li>
                <li class="testing"><a href="{% url 'main:my_account' %}">Account</a></li>
                <li class="testing">&bull;</li>
                <li class="testing"><a href="{% url 'main:create_post' %}">Create</a></li>
                <li class="testing">&bull;</li>
                <li class="testing"><a href="{% url 'main:signup' %}">Sign Up</a></li>
                <li class="testing">&bull;</li>
                <li class="testing"><a href="{% url 'main:login' %}">Login</a></li>
                <li class="testing">&bull;</li>
                <li class="testing"><a href="{% url 'main:logout' %}">Logout</a></li>
            </ul>
        </div>
    </body>
</html>