<!DOCTYPE html>
{% load static %}
{% load template_tags %}

<html>	
    <link rel="shortcut Icon" href="{% static 'favicon.ico' %}">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>
            photoGraph - 
            {% block title_block %}
            {% endblock %}
        </title>

        <!-- Mobile scaling -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- CSS is now in photoGraph/static -->
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">

        <!-- Leaflet mapping API imports -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

        <script src="{% static 'jqueryCode.js' %}"></script>
                <!-- Not sure if we want all javascript in one file or multiple? -->
        <script src="{% static 'navbar.js' %}"></script>

        {% block custom_head %}
        {% endblock %}
    </head>
    <body>
        <div class="nav-bar">
            <span class="title">
                <a href="{% url 'main:index' %}">
                    photoGraph
                </a>
            </span>

            <ul>


                    <li><a href="{% url 'main:index' %}">Home</a></li>
                    <li>&bull;</li>
                    <li><a href="{% url 'main:show_group_list' %}">Groups</a></li>
                    <li>&bull;</li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'main:my_account' %}">Account</a></li>
                        <li>&bull;</li>
                        <li><a href="{% url 'main:logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'main:login' %}">Login</a></li>
                        <li>&bull;</li>
                        <li><a href="{% url 'main:signup' %}">Sign Up</a></li>
                    {% endif %}

            </ul>
        </div>

        <div id="main-content" >
        {% block body_block %}
        {% endblock %}
        </div>

        <div class="footer">
            <ul>
                <li><a href="{% url 'main:about' %}">About</a></li>
                <li>&bull;</li>
                <li><a href="{% url 'main:contact_us' %}">Contact Us</a></li>
            </ul>
        </div>
    </body>
</html>