{% extends 'photoGraph/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Contact Us
{% endblock %}

{% block body_block %}
<!--insert custom HTML here-->
<div class="body-block">
    <div class="hidden-box">
        <div class="contact-container">
            <h1 class="contact-heading text-left thin">Contact Us</h1>
            <p class="contact-p text-left">If you have any queries regarding our page, please get in touch via the links below! 
                Otherwise, please call 071632960892 to chat with one of our team members today.</p>
        </div>
    </div>
    
    <div class="bg-light box-container">
        <div class="inner-link">
            <address class="contact-item">
                <strong>Email Address</strong>
                <br>
                <a href="mailto:#">first-name.last-name@example.com</a>
            </address>
    
            <address class="contact-item">
                <strong>Facebook</strong>
                <br>
                <a href="https://www.facebook.com">https://www.facebook.com</a>
            </address>
    
            <address class="contact-item">
                <strong>Instagram</strong>
                <br>
                <a href="https://instagram.com">https://instagram.com</a>
            </address>
        </div>
    </div>
</div>
{% endblock %}