{% extends 'photoGraph/base.html' %}
{% load staticfiles %}
{% load template_tags %}

{% block title_block %}
    {{ group }}
{% endblock %}

{% block body_block %}
    {% if group %}
        <div id="group-details">
            <div class="detailsContainer">
                <h1>{{ group }}</h1>
                <p><b>Owned by </b><a href="{% url 'main:show_user_profile' group.created_by.slug %}">{{ group.created_by }}</a></p>
                {% if group.about %}
                    <p><b>About: </b>{{ group.about }}</p>
                {% endif %}
            </div>
        </div>

        {% for group_member in group_members %}
            <p><a href="{% url 'main:show_user_profile' group_member.slug %}">{{ group_member }}</a></p>
        {% endfor %}

        <br>
        <hr>
        <h3>{{ group }}'s Posts</h3>

        {% if posts %}
            {% post_template posts %}
        {% else %}
            <p>{{ group }} has no posts yet.</p>
        {% endif %}
    {% else %}
        <p>No group with name '{{ group_slug }}' found. Why not create one?</p>
    {% endif %}
{% endblock %}