{% extends 'photoGraph/base.html' %}
{% load static %}
{% load template_tags %}

{% block title_block %}
    {{ group }}
{% endblock %}

{% block custom_head %}
<script>   
    var reqOngoing = false;
    $(document).ready(function() {
        $('#join-btn').click(function() {
            if (!reqOngoing) {
                let group_slug = $(this).attr('data-group-slug');
                $.get('/photoGraph/join_group/',
                {'group_slug': group_slug},
                function(data) {
                    if (data.user_in_group) {
                        $('#join-btn').html("Leave group");
                        $('#join-btn').attr('data-is-member', "True");
                    } else {
                        $('#join-btn').html("Join group");
                        $('#join-btn').attr('data-is-member', "False");
                    }
                    $('#members-count').html(data.group_size);
                    reqOngoing = false;
                });
                reqOngoing = true;
            }
        });
    });
    </script>

<style>
.join-btn-container {
    text-align: right;
    width: 100%;
    height: 0;
}
#join-btn {
    position: relative;
    top: 2em;
}
@media only screen and (max-width: 600px)  {
    .join-btn-container {
        text-align: left;
        height: initial;
    }
    #join-btn {
    position: initial;
    top: 0;
    }
}
</style>
{% endblock %}

{% block body_block %}
    {% if group %}
        <div id="group-details">
            {% if user.is_authenticated and not user_is_creator %}
                <div class="join-btn-container">
                    <button id="join-btn" data-group-slug="{{ group.slug }}" data-is-member="{{ is_user_member }}">
                        {% if is_user_member %}
                            Leave group
                        {% else %}
                            Join group
                        {% endif %}
                    </button>
                </div>
            {% endif %}
            <div class="detailsContainer">
                <h1>{{ group }}</h1>
                <p><b>Created by: </b><a href="{% url 'main:show_user_profile' group.created_by.slug %}">{{ group.created_by }}</a></p>
                {% if group.about %}
                    <p><b>About: </b>{{ group.about }}</p>
                {% endif %}
                <p><b>Members:</b> <span id="members-count">{{ group.members.count }}</span></p>
                <p><b>Posts:</b> {{ group.posts.count }}</p>
            </div>
        </div>

        <br>
        <hr>
        <h3>{{ group }}'s Posts</h3>

        {% if posts %}
            {% post_template posts %}
        {% else %}
            <p>{{ group }} has no posts yet.</p>
        {% endif %}
    {% else %}
        <p>No group with name '{{ group_slug }}' found. Why not create one?</p>
    {% endif %}
{% endblock %}