{% extends 'photoGraph/base.html' %}
{% load staticfiles %}
{% load template_tags %}

{% block title_block %}
    {{ group }}
{% endblock %}

{% block custom_head %}
<script>   
    var reqOngoing = false;
    $(document).ready(function() {
        $('#join-btn').click(function() {
            if (!reqOngoing) {
                let group_slug = $(this).attr('data-group-slug');
                $.get('/photoGraph/join_group/',
                {'group_slug': group_slug},
                function(data) {
                    $('#like_count').html(data);
                    if ($('#join-btn').attr('data-is-member') == "False") {
                        $('#join-btn').html("Leave group");
                        $('#join-btn').attr('data-is-member', "True")
                    } else {
                        $('#join-btn').html("Join group");
                        $('#join-btn').attr('data-is-member', "False")
                    }
                    reqOngoing = false;
                });
                reqOngoing = true;
            }
        });
    });
    </script>

<style>
.join-btn-container {
    text-align: right;
    width: 100%;
    height: 0;
}
#join-btn {
    position: relative;
    top: 2em;
}
@media only screen and (max-width: 600px)  {
    .join-btn-container {
        text-align: left;
        height: initial;
    }
    #join-btn {
    position: initial;
    top: 0;
    }
}
</style>
{% endblock %}

{% block body_block %}
    {% if group %}
        <div id="group-details">
            {% if user.is_authenticated %}
            <div class="join-btn-container">
                <button id="join-btn" data-group-slug="{{ group.slug }}" data-is-member="{{ is_user_member }}">
                    {% if is_user_member %}
                        Leave group
                    {% else %}
                        Join group
                    {% endif %}
                </button>
            </div>
            {% endif %}
            <div class="detailsContainer">
                <h1>{{ group }}</h1>
                <p><b>Created by: </b><a href="{% url 'main:show_user_profile' group.created_by.slug %}">{{ group.created_by }}</a></p>
                {% if group.about %}
                    <p><b>About: </b>{{ group.about }}</p>
                {% endif %}
                <p><b>Members:</b> {{ group.members.count }}</p>
                <p><b>Posts:</b> {{ group.posts.count }}</p>
            </div>
        </div>

        <!--
        {% for group_member in group_members %}
            <p><a href="{% url 'main:show_user_profile' group_member.slug %}">{{ group_member }}</a></p>
        {% endfor %}
        -->

        <br>
        <hr>
        <h3>{{ group }}'s Posts</h3>

        {% if posts %}
            {% post_template posts %}
        {% else %}
            <p>{{ group }} has no posts yet.</p>
        {% endif %}
    {% else %}
        <p>No group with name '{{ group_slug }}' found. Why not create one?</p>
    {% endif %}
{% endblock %}