{% extends 'photoGraph/base.html' %}
{% load static %}
{% load template_tags %}

{% block title_block %}
    Change your password
{% endblock %}

{% block custom_head %}
<style>
    #main-content {
        max-width: max-content;
    }
</style>
{% endblock %}

{% block body_block %}
<h1> Change your User information </h1>

<form id="infoChange" method="post" action="{% url 'main:info_change' %}" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p}}
	<input type="submit" name="submit" value="Change user information" />
</form>
<p><a href="{% url 'main:my_account' %}">Back to User profile</a></p>
</div>

{% endblock %}