{% extends 'photoGraph/base.html' %}
{% load static %}
{% load template_tags %}

{% block title_block %}
My Account
{% endblock %}


{% block custom_head %}
<link rel="stylesheet" type="text/css" href="{% static 'my_account.css' %}">
<style>
	/*For the posts*/
	.userPostsBoxAccountPage {
		width: 95%;
		display: flex;
		height: 300px;
		border: solid black 5px;
		border-radius: 7px;
		background-color: rgb(255, 0, 255);
	}

	.accountPageUserPostsDescription {

		width: 45%;
		padding: 5px;
	}

	.userAccountPagePostImageContainer {

		width: 45%;
		height: 96%;
		padding: 4px;
		margin: 5px;
		display: block;
		background-color: red;
	}

	.userPostImage {
		margin-top: auto;
		margin-bottom: auto;

	}

	#mypostsGoHere {
		width: 100%;

	}
</style>

{% endblock %}

{% block body_block %}

<!-- Put some user authentication -> and change the styling -->
<h1> My Account </h1>
{% account_detail_template user_profile True %}
<br>
<hr>
<div id="mypostsGoHere">
	<h3>My Posts</h3>

	{% if posts %}
		{% post_template posts %}
	{% else %}
		<div>
			<p><a href="{% url 'main:index' %}">Create your first post now</a></p>
		</div>
	{% endif %}
</div>

</div>

{% endblock %}