{% extends 'photoGraph/base.html' %}
{% load staticfiles %}

{% block title_block %}
    My Account
{% endblock %}


{% block custom_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'matthewsStyleSheet.css' %}">
{% endblock %}

{% block body_block %}

<!-- Put some user authentication -> and change the styling -->
	<h1> My Account </h1>
	<div id="detailsBox">
		<div class="profileImageContainer">
			<img src="{{user_profile.profile_picture.url}}" alt="Profile Picture">
		</div>
		<div>
			<h3>My Details</h3>
			<p><b>Name:</b> {{user_profile.user.username}}</p>
			<p><b>Email:</b> {{user_profile.user.email}}</p>
			<p><b>Description:</b>{{user_profile.user.biography}}</p>
			<br>
			<p id="passwordChangeLink"><a href="{% url 'main:passwordChange' %}"> Change password</a></p>
			<p id="editInfo"><a href="{% url 'main:infoChange' %}"> Change User information</a></p>
		</div>
	</div>
	<br>
	<hr>
	<div>
		<h3>My Posts</h3>
		<div class="userPostsBoxAccountPage">
		<!-- Loop the contents of this, or show no images to see	-->	
			<div class="accountPageUserPostsDescription">
				<h5>Image title?</h5>
				<p>location: (x,y)</p>
				<p>Description: some text describing the location?</p>
			</div>
			<div class="userAccountPagePostImageContainer">
				<img src="" alt="Image">
			</div>
			<br>
		</div>
		
	</div>

{% endblock %}