{% extends 'photoGraph/base.html' %}
{% load static %}
{% load template_tags %}

{% block title_block %}
    Change your password
{% endblock %}

{% block body_block %}

{% block custom_head %}
<style>
    #main-content {
        max-width: max-content;
    }
</style>
{% endblock %}

<h1> Change your password </h1>

<form id="passwordUpdateForm" method="post" action="{% url 'main:passwordChange' %}" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" name="submit" value="Change Password" />
</form>
<p><a href="{% url 'main:my_account' %}">Back to User profile</a></p>

{% endblock %}