{% extends 'photoGraph/base.html' %}
{% load static %}
{% load template_tags %}

{% block title_block %}
    {{ post.created_by }}'s Post
{% endblock %}

{% block custom_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'view_post.css' %}">


    <script>   
    var reqOngoing = false;
    $(document).ready(function() {
        $('#like_toggle').click(function() {
            if (!reqOngoing) {
                let postIDvar = $(this).attr('data-postid');
                $.get('/photoGraph/like_toggle/',
                {'post_id': postIDvar},
                function(data) {
                    $('#like_count').html(data);
                    if ($('#like_toggle').attr('data-has-user-liked') == "False") {
                        $('#like_toggle').html("Unlike");
                        $('#like_toggle').attr('data-has-user-liked', "True")
                    } else {
                        $('#like_toggle').html("Like");
                        $('#like_toggle').attr('data-has-user-liked', "False")
                    }
                    reqOngoing = false;
                });
                reqOngoing = true;
            }
        });
    });
    </script>
{% endblock %}

{% block body_block %}
    <div class="post-title-container">
        <span class="post-title">{{ post.caption }}</span><a href="{% url 'main:show_location' %}?location_name={{ post.location_name }}">{{ post.location_name }}</a>
    </div>
    <div class="post-inner">
        <span class="post-info-primary">Posted by <a href="{% url 'main:show_user_profile' post.created_by.slug %}">{{ post.created_by }}</a>{% if post.group %} as part of <a href="{% url 'main:show_group' post.group.slug %}">{{ post.group }}</a>{% endif %}</span><br/>
        <span class="post-info-secondary"><span id="like_count">{% get_likes post %}</span> likes, posted {{ post.created_time }}</span>
        <br>
        {% if user.is_authenticated %}
            <button id="like_toggle" data-has-user-liked="{{ has_user_liked }}" data-postid="{{ post.id }}" class="btn btn-primary btn-sm" type="button">
                <span data-feather="thumbs-up"></span>
                {% if has_user_liked %}
                    Unlike
                {% else %}
                    Like
                {% endif %}
            </button>
        {% endif %}
        {% if user.is_authenticated and user != post.created_by.user %}
            <a href="{% url 'main:report_post' post.slug %}" class="report-link">Report this post</a>
        {% endif %}
    </div>
    <div class="post-container">
        <a href="{{ post.photo.url }}" target="_blank" class="post-photo-link"><img src="{{ post.photo.url }}" class="post-photo" /></a><br/>
        <div id="map"></div>
    </div>

    <br>

    <h3>Comments</h3>

    {% if user.is_authenticated %}

    <form method="post" action="{% url 'main:comment' post.slug %}" id="comment-form">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Submit comment</button>
    </form>

    {% else %}
        <form>
            <p>You must <a href="{% url 'main:login' %}?next={{ request.path }}">login</a> to be able to comment on posts.</p>
        </form>
    {% endif %}

    <br>

    {% if comments %}
        {% comment_template comments %}
    {% else %}
        <p>This post has received no comments. Be the first to comment!</p>
    {% endif %}

    <script>
        function setupMap() {
            try {
                map = L.map('map').setView(["{{ post.latitude }}", "{{ post.longitude }}"], 17);

                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);

                L.marker(["{{ post.latitude }}", "{{ post.longitude }}"], {
                    icon: new L.DivIcon({
                        className: "custom-marker-icon",
                        html: `<img src="{{post.photo.url}}"/>`,
                        iconSize: [70, 70],
                        iconAnchor: [35, 0],
                        popupAnchor: [0, 0]
                    })
                }).addTo(map);
            } catch (e) { throw e;}
        }
        setupMap();
    </script>
{% endblock %}