<div class="posts-container">
    {% for post in posts %}
        <div class="post">
            <a href="{{post.photo_url}}" target="_blank"><img src="{{post.photo.url}}"/></a><br/>
            <span class="post-title">&#128247; {{ post.caption }}</span>
            <span class="post-info-primary"><a href="#">{{ post.user_name }}</a></span>
            <span class="post-info-secondary">{{post.likes}} likes, taken {{post.aboutTime}}</span>
            <a href="#" class="post-link">View more...</a><br/>
        </div>
    {% endfor %}
</div>
