{% extends 'photoGraph/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ post.created_by }}'s Post
{% endblock %}

{% block custom_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'my_account.css' %}">
{% endblock %}

{% block body_block %}
    {{ post.created_by }}<br>
    {{ post.caption }}<br>
    {{ post.latitude }}<br>
    {{ post.longitude }}<br>
    {{ post.created_time }}<br>
    <br>

    {% for comment in comments %}
        {{ comment.created_by }} says:<br>
        {{ comment.comment }}<br>
        {{ comment.created_time }}<br>
        <br>
    {% endfor %}
{% endblock %}