{% extends 'photoGraph/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Report Details
{% endblock %}

{% block custom_head %}
<style>
  #main-content {
      max-width: 500px;
  }
</style>
{% endblock %}

{% block body_block %}
<h1>Report Details</h1>
  <p>Reporter: {{ report.reporter.username }}</p>
  <p>Post ID: {{ report.post_id.id }}</p>
  <p>Reasons:</p>
  <ul>
    {% for reason in reasons %}
      <li>{{ reason }}</li>
    {% endfor %}
  </ul>
  <p>Created At: {{ report.created_at }}</p>
<a href="{% url 'main:report_list' %}">Back to Reports</a>
{% endblock %}