{% extends 'photoGraph/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Sign Up
{% endblock %}

{% block custom_head %}
<style>
    #main-content {
        max-width: max-content;
    }
</style>
{% endblock %}

{% block body_block %}
<h1>Register for photoGraph</h1>
{% if registered %}
    You are registered. <strong>Thank you!</strong>
    <a href="{% url 'main:login' %}">Login</a><br />
{% else %}
    <strong>Register here!</strong><br />
    <form id="user_form" method="post" action="{% url 'main:signup' %}" enctype="multipart/form-data">

        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <input type="submit" name="submit" value="Register" />
    </form>
{% endif %}
{% endblock %}