/* For My Account Pages */

#detailsBox {
    display: flex;
    width: 100%;
}
.detailsContainer {
    width :100%;
}
.profileImageContainer{
    border:5px;
    width: fit-content;
}
.profileImageContainer img {
    max-width: 40%;
    float: right;
}
/*For the posts*/
.userPostsBoxAccountPage{
    width:95%;
    display:block;
    height:300px;
    border:solid black 5px;
    border-radius: 7px;
    background-color: red;
}
.accountPageUserPostsDescription{
    float:right;
    width:45%;
    padding:5px;
}
.userAccountPagePostImageContainer{
    float:left;
    width:45%;
    margin:5px;
}
#mypostsGoHere{
    width:100%;

}






/* For View Post Page */
