/* For My Account Pages */

#detailsBox {
    display: flex;
    width: 100%;
}
.detailsContainer {
    width :100%;
}
.profileImageContainer{
    border:5px;
    width: fit-content;
}
.profileImageContainer img {
    max-width: 40%;
    float: right;
}
.userPostsBoxAccountPage{
    border:5px;
    padding:0.5%;
    height:300px;
}
.accountPageUserPostsDescription{
    float:right;
}
.userAccountPagePostImageContainer{
    border:5px;
}