/* For View Post Page */

#map {
    width: 50vw;
    min-height: 300px;
}


.post-container {
    display: flex;
    margin-top: 1em;
}

#map {
    margin-left: auto;
}

.post-container .post-photo {
    max-width: 50vw;
    max-height: 75vh;
}

.post-container .post-photo-link {
    margin: auto 0;
}

.comment-textarea {
    width: 100%;
}

/* Mobile formatting*/
@media only screen and (max-width: 600px) {
    .post-container .post-photo {
        max-width: 100%;
        max-height: 75vh;
    }
    .post-container {
        display: block;
    }
    #map {
        width: 100%;
        min-height: 500px;
    }
}